@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: var(--font-prompt), system-ui, sans-serif;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  font-family: var(--font-prompt), sans-serif;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.font-prompt {
  font-family: var(--font-prompt);
}

:root {
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;
}

.marker {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #BA2525;
  border: 2px solid white;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}